    <div class="description">
      <p>I'm Michael McClenaghan and I run <a href="http://www.sideline.ca">Sideline</a>, a site that documents my journey in software development over the past few years. I spend my time consulting with organizations that want to get better at developing software. While most people think I'm crazy, I seriously get my kicks helping software teams in chaos.  You should <a href="/hire_me">hire me</a>!</p>
    </div>
